.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 4px 0 rgb(34 60 80 / 20%);

  &__company-name {
    position: absolute;
    left: 2rem;
  }
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 10px;

    &__company-name {
      position: relative;
    }
  }
}
