@import 'defaultVariables.scss';

.rating {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: $font-color-green;
  font-weight: 700;

  &_title {
    width: 2.5rem;
    height: 2.5rem;
  }
}
