@import 'defaultVariables.scss';

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;

  &::after {
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 6px solid $font-color-main;
    border-color: $font-color-main transparent $font-color-main
      transparent;
    border-radius: 50%;
    animation: loader 1.2s linear infinite;
    content: ' ';
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
