@import "../../defaultVariables.scss";

.rating {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: $font-color-green;
  font-weight: 700;
}