@import "../../default-variables.scss";

.game-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 300px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  border-radius: 10px;
  color: $font-color-white;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#000000, #b6b6b6);
    opacity: 0.5;
    border-radius: 10px;
  }

  &__rating, 
  &__title, 
  &__platforms {
    z-index: $z-index-top;
  }

  &__title {
    margin-top: auto;
    margin-bottom: 0.5rem;
    font-size: $font-size-l;
  }
}