@import 'defaultVariables.scss';

%top-layer {
  position: relative;
  z-index: $z-index-top;
  margin: 0;
}

.title-info {
  position: relative;
  width: 100%;
  padding: 2rem;
  color: $font-color-white;
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-size: cover;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $font-color-main;
    opacity: $opacity-half;
    content: '';
  }

  &__title {
    @extend %top-layer;

    font-weight: 600;
  }

  &__release {
    @extend %top-layer;

    margin: 1.5rem 0;
    font-weight: 600;
  }

  &__rating {
    margin-left: 1rem;
  }

  &__genres {
    @extend %top-layer;
  }

  &__platforms {
    @extend %top-layer;

    margin-top: 1rem;
  }
}
