$font-color-main:   #000000;
$font-color-white:  #ffffff;
$font-color-green:  #50c22b;

$font-size-m:         1rem;
$font-size-l:         1.5rem;
$font-size-xl:        2rem;

$z-index-top:         100;